@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    @apply text-zinc-950 dark:text-white
        lg:bg-white lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10
        bg-white ring-zinc-950/5 dark:bg-zinc-900 dark:ring-white/10
        !overflow-y-scroll !p-1
}

svg {
  pointer-events: none;
}

#main-nav {
    @apply text-zinc-950 dark:text-white
        lg:bg-white lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10
        bg-white ring-zinc-950/5 dark:bg-zinc-900 dark:ring-white/10
}

.dialog-open-button {
    @apply no-underline hover:underline active:underline
        cursor-pointer
        text-blue-600 dark:text-blue-300
}

.swiper-wrapper {
    @apply items-center pb-10
}
.swiper-pagination-bullet {
    @apply bg-black dark:bg-white
}
.swiper-button-prev {
    @apply text-black dark:text-white
}
.swiper-button-next {
    @apply text-black dark:text-white
}
