@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    @apply text-zinc-950 dark:text-white
        lg:bg-white lg:ring-zinc-950/5 dark:lg:bg-zinc-900 dark:lg:ring-white/10
        bg-white ring-zinc-950/5 dark:bg-zinc-900 dark:ring-white/10
        !overflow-y-clip
}

body {
    @apply !overflow-y-clip
}

#headlessui-portal-root > div > div > div > div{
    @apply !overflow-y-clip
}

svg {
  pointer-events: none;
}

#main-nav {
    @apply text-zinc-950 dark:text-white
        ring-zinc-950/5 dark:ring-white/10
        bg-zinc-100 dark:bg-zinc-950
        fixed top-0 left-0 right-0 z-100 opacity-100 border-double border-b-4
        h-[5rem]
}

.link {
    @apply no-underline hover:underline active:underline
        cursor-pointer
        text-blue-600 dark:text-blue-300
}

.scrollbar {
    @apply [&::-webkit-scrollbar]:w-2
        [&::-webkit-scrollbar-track]:rounded-full
        [&::-webkit-scrollbar-track]:bg-gray-100
        [&::-webkit-scrollbar-thumb]:rounded-full
        [&::-webkit-scrollbar-thumb]:bg-gray-300
        dark:[&::-webkit-scrollbar-track]:bg-neutral-700
        dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500
}

.swiper-wrapper {
    @apply items-center pb-10
}
.swiper-pagination-bullet {
    @apply bg-black dark:bg-white
}
.swiper-button-prev {
    @apply text-black dark:text-white
}
.swiper-button-next {
    @apply text-black dark:text-white
}


.tech-icon {
    @apply size-12 md:size-14 pb-2
}
.tech-icon-container {
    @apply mx-auto my-3
}
.tech-more-info {
    @apply cursor-pointer
    border-double border-b-0
    shadow-[0_8px_5px_-6px_theme(colors.black)]
    dark:shadow-[0_8px_5px_-6px_theme(colors.white)]
}

.orange-shadow {
    @apply hover:shadow-[0_8px_5px_-6px_theme(colors.orange.500)]
    active:shadow-[0_8px_5px_-6px_theme(colors.orange.500)]
}
.pink-shadow {
    @apply hover:shadow-[0_8px_5px_-6px_theme(colors.pink.500)]
    active:shadow-[0_8px_5px_-6px_theme(colors.pink.500)]
}
.purple-shadow {
    @apply hover:shadow-[0_8px_5px_-6px_theme(colors.purple.500)]
    active:shadow-[0_8px_5px_-6px_theme(colors.purple.500)]
}
